{{extend 'layout.html'}}

<h1>{{=name}}</h1>

<div class="charts">
	{{for item in items:}}
	  <div class="graphbox">
		  <h3>{{=item.graphbox.name}}</h3>
			<div id="chartContainer{{=item.graphbox.id}}">Loading...</div>
		</div>
	{{pass}}
</div>

<script type="text/javascript">
  {{for item in items:}}

    {{if item.graphbox.newgraphtype.name == "angular":}}

		  var myChart = new FusionCharts( "{{=URL('static/charts', 'AngularGauge.swf')}}",
		                                  "myChartId{{=item.graphbox.id}}", "500", "280", "0" );
		  myChart.setJSONUrl("{{=URL('charts', 'angular_gauge.json', vars={'id': item.graphbox.itemid, 'dashid': request.vars.dashid} )}}");
		  myChart.render("chartContainer{{=item.graphbox.id}}");

		{{pass}}

	{{pass}}
</script>